.weather-app {
    font-family: "Montserrat", sans-serif;
    color:whitesmoke;
    position: relative;
    top: 50px;
    border: 1px solid white;
    padding: 15px 30px;
    margin: 0 auto; 
    border-radius: 10px;
    max-width: 600px;
    background-image:url('pexels-pixabay-87651.jpg');
  }
form{
  margin: 5px 25px 0 25px;
}
#submit-btn{
  background-color: #858B9B;
  padding: 5px;
}
#current-location-button{
  background-color:#586087;
}
#search-bar{
  padding: 5px;
}
.temperature {
  font-size: 80px;
  vertical-align: middle;
}
#icon{
text-align: center;
}
.forecast-icons img{
text-align: center;
max-width: 70px;
max-height: 70px;
}
.units a {
  margin-left: 5px;
  text-decoration: none;
  color: white;
}
.units a:hover{
  color: #586087;
  transition: all 200ms ease-in-out;
}
.overview {
margin-left: 20px;
}
#city {
font-size: 55px;
color: #A5ABC1;
margin-top: 10px;
}
#date {
font-size: 20px;
}
.forecast-items {
  margin: 0 5px;
  text-align: center;
  background-color: #000000;
  opacity: 0.7;
}
footer {
  margin: 50px 0;
  text-align: center;
}
  